$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Nunito', serif;
$font-size-xs: 13px;
$font-size-sm: 16px;
$font-size-md: 19px;
$font-size-lg: 22px;
$font-size-xl: 25px;
$grid-columns: 12;
$grid-size: 1fr;
$grid-column-gap: 16px;
$grid-row-gap: 0;
$max-width-xs: calc(100% - var(--grid-column-gap) * 2);
$max-width-sm: calc(100% - var(--grid-column-gap) * 2);
$max-width-md: Min(928px, calc(100% - var(--grid-column-gap) * 2));
$max-width-lg: Min(1344px, calc(100% - var(--grid-column-gap) * 4));
$max-width-xl: Min(1204px, calc(100% - var(--grid-column-gap) * 6));
$media-query-xs: 0;
$media-query-sm: 768;
$media-query-md: 1024;
$media-query-lg: 1440;
$media-query-xl: 1600;
$button-border-radius: 0.15em;
$color-neutral-900: #F3F4F7;
$color-neutral-800: #E8EAEF;
$color-neutral-700: #C7CAD1;
$color-neutral-600: #999CA3;
$color-neutral-500: #5E6066;
$color-neutral-400: #444857;
$color-neutral-300: #2F3449;
$color-neutral-200: #1D233B;
$color-neutral-100: #121630;
$color-primary-900: #CBFEFA;
$color-primary-800: #98FDFE;
$color-primary-700: #65F1FC;
$color-primary-600: #3FDEF9;
$color-primary-500: #01c0f6;
$color-primary-400: #0095D3;
$color-primary-300: #0070B1;
$color-primary-200: #00508E;
$color-primary-100: #003976;
$color-secondary-900: #FEF7CB;
$color-secondary-800: #FEED98;
$color-secondary-700: #FEE165;
$color-secondary-600: #FDD43F;
$color-secondary-500: #fcc000;
$color-secondary-400: #D89F00;
$color-secondary-300: #B58100;
$color-secondary-200: #926400;
$color-secondary-100: #785000;
$color-alternative-100: #A1A9B0;
$color-alternative-300: #bcc2c7;
$color-alternative-500: #d3d6da;
$color-alternative-700: #e9ebec;
$color-alternative-900: #ffffff;
$color-success-900: #CAFCD3;
$color-success-800: #97FAB2;
$color-success-700: #62F097;
$color-success-600: #3BE28A;
$color-success-500: #03cf78;
$color-success-400: #02B278;
$color-success-300: #019573;
$color-success-200: #007868;
$color-success-100: #006360;
$color-danger-900: #FFE6D6;
$color-danger-800: #FFC6AE;
$color-danger-700: #FFA085;
$color-danger-600: #FF7B67;
$color-danger-500: #FF3F35;
$color-danger-400: #DB262C;
$color-danger-300: #B71A2D;
$color-danger-200: #93102B;
$color-danger-100: #7A0A2A;
$color-bak-url: https://coolors.co/030911-236ca4-bc9710-a1a9b0-aa4c32;
$color-bak-neutral-100: #030911;
$color-bak-neutral-200: #0c2545;
$color-bak-neutral-300: #154179;
$color-bak-neutral-400: #1f5cad;
$color-bak-neutral-500: #2f79da;
$color-bak-neutral-600: #639be3;
$color-bak-neutral-700: #97bced;
$color-bak-neutral-800: #cbdef6;
$color-bak-neutral-900: #ffffff;
$color-bak-primary-100: #236ca4;
$color-bak-primary-300: #358fd4;
$color-bak-primary-500: #68a8df;
$color-bak-primary-700: #9ac7ea;
$color-bak-primary-900: #cde3f4;
$color-bak-secondary-100: #BC9710;
$color-bak-secondary-300: #ebbf1e;
$color-bak-secondary-500: #f0cf56;
$color-bak-secondary-700: #f5df8e;
$color-bak-secondary-900: #faefc7;
$color-bak-danger-100: #AA4C32;
$color-bak-danger-300: #cd6c51;
$color-bak-danger-500: #da9481;
$color-bak-danger-700: #e8bcb0;
$color-bak-danger-900: #f6e4df;
$color-bak-button-neutral-0: #ffffff;
$color-bak-button-primary-500: #7b79ff;
$color-bak-button-primary-600: #4945ff;
$color-bak-success-100: #eafbe7;
$color-bak-success-200: #c6f0c2;
$color-bak-success-500: #5cb176;
$color-bak-success-600: #328048;
$color-bak-success-700: #2f6846;
$color-bak-warning-100: #fdf4dc;
$color-bak-warning-200: #fae7b9;
$color-bak-warning-500: #f29d41;
$color-bak-warning-600: #d9822f;
$color-bak-warning-700: #be5d01;

:root {
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --grid-columns: #{$grid-columns};
  --grid-size: #{$grid-size};
  --grid-column-gap: #{$grid-column-gap};
  --grid-row-gap: #{$grid-row-gap};
  --max-width-xs: #{$max-width-xs};
  --max-width-sm: #{$max-width-sm};
  --max-width-md: #{$max-width-md};
  --max-width-lg: #{$max-width-lg};
  --max-width-xl: #{$max-width-xl};
  --media-query-xs: #{$media-query-xs};
  --media-query-sm: #{$media-query-sm};
  --media-query-md: #{$media-query-md};
  --media-query-lg: #{$media-query-lg};
  --media-query-xl: #{$media-query-xl};
  --button-border-radius: #{$button-border-radius};
  --color-neutral-900: #{$color-neutral-900};
  --color-neutral-800: #{$color-neutral-800};
  --color-neutral-700: #{$color-neutral-700};
  --color-neutral-600: #{$color-neutral-600};
  --color-neutral-500: #{$color-neutral-500};
  --color-neutral-400: #{$color-neutral-400};
  --color-neutral-300: #{$color-neutral-300};
  --color-neutral-200: #{$color-neutral-200};
  --color-neutral-100: #{$color-neutral-100};
  --color-primary-900: #{$color-primary-900};
  --color-primary-800: #{$color-primary-800};
  --color-primary-700: #{$color-primary-700};
  --color-primary-600: #{$color-primary-600};
  --color-primary-500: #{$color-primary-500};
  --color-primary-400: #{$color-primary-400};
  --color-primary-300: #{$color-primary-300};
  --color-primary-200: #{$color-primary-200};
  --color-primary-100: #{$color-primary-100};
  --color-secondary-900: #{$color-secondary-900};
  --color-secondary-800: #{$color-secondary-800};
  --color-secondary-700: #{$color-secondary-700};
  --color-secondary-600: #{$color-secondary-600};
  --color-secondary-500: #{$color-secondary-500};
  --color-secondary-400: #{$color-secondary-400};
  --color-secondary-300: #{$color-secondary-300};
  --color-secondary-200: #{$color-secondary-200};
  --color-secondary-100: #{$color-secondary-100};
  --color-alternative-100: #{$color-alternative-100};
  --color-alternative-300: #{$color-alternative-300};
  --color-alternative-500: #{$color-alternative-500};
  --color-alternative-700: #{$color-alternative-700};
  --color-alternative-900: #{$color-alternative-900};
  --color-success-900: #{$color-success-900};
  --color-success-800: #{$color-success-800};
  --color-success-700: #{$color-success-700};
  --color-success-600: #{$color-success-600};
  --color-success-500: #{$color-success-500};
  --color-success-400: #{$color-success-400};
  --color-success-300: #{$color-success-300};
  --color-success-200: #{$color-success-200};
  --color-success-100: #{$color-success-100};
  --color-danger-900: #{$color-danger-900};
  --color-danger-800: #{$color-danger-800};
  --color-danger-700: #{$color-danger-700};
  --color-danger-600: #{$color-danger-600};
  --color-danger-500: #{$color-danger-500};
  --color-danger-400: #{$color-danger-400};
  --color-danger-300: #{$color-danger-300};
  --color-danger-200: #{$color-danger-200};
  --color-danger-100: #{$color-danger-100};
  --color-bak-url: #{$color-bak-url};
  --color-bak-neutral-100: #{$color-bak-neutral-100};
  --color-bak-neutral-200: #{$color-bak-neutral-200};
  --color-bak-neutral-300: #{$color-bak-neutral-300};
  --color-bak-neutral-400: #{$color-bak-neutral-400};
  --color-bak-neutral-500: #{$color-bak-neutral-500};
  --color-bak-neutral-600: #{$color-bak-neutral-600};
  --color-bak-neutral-700: #{$color-bak-neutral-700};
  --color-bak-neutral-800: #{$color-bak-neutral-800};
  --color-bak-neutral-900: #{$color-bak-neutral-900};
  --color-bak-primary-100: #{$color-bak-primary-100};
  --color-bak-primary-300: #{$color-bak-primary-300};
  --color-bak-primary-500: #{$color-bak-primary-500};
  --color-bak-primary-700: #{$color-bak-primary-700};
  --color-bak-primary-900: #{$color-bak-primary-900};
  --color-bak-secondary-100: #{$color-bak-secondary-100};
  --color-bak-secondary-300: #{$color-bak-secondary-300};
  --color-bak-secondary-500: #{$color-bak-secondary-500};
  --color-bak-secondary-700: #{$color-bak-secondary-700};
  --color-bak-secondary-900: #{$color-bak-secondary-900};
  --color-bak-danger-100: #{$color-bak-danger-100};
  --color-bak-danger-300: #{$color-bak-danger-300};
  --color-bak-danger-500: #{$color-bak-danger-500};
  --color-bak-danger-700: #{$color-bak-danger-700};
  --color-bak-danger-900: #{$color-bak-danger-900};
  --color-bak-button-neutral-0: #{$color-bak-button-neutral-0};
  --color-bak-button-primary-500: #{$color-bak-button-primary-500};
  --color-bak-button-primary-600: #{$color-bak-button-primary-600};
  --color-bak-success-100: #{$color-bak-success-100};
  --color-bak-success-200: #{$color-bak-success-200};
  --color-bak-success-500: #{$color-bak-success-500};
  --color-bak-success-600: #{$color-bak-success-600};
  --color-bak-success-700: #{$color-bak-success-700};
  --color-bak-warning-100: #{$color-bak-warning-100};
  --color-bak-warning-200: #{$color-bak-warning-200};
  --color-bak-warning-500: #{$color-bak-warning-500};
  --color-bak-warning-600: #{$color-bak-warning-600};
  --color-bak-warning-700: #{$color-bak-warning-700};
}
  